<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td>...</td>
        <td>...</td>
        <td>
            <form method="post"
                  th:action="@{/admin/members-delete/{memberId}(memberId=${member.memberId})}"
                  style="display: inline;"
                  onsubmit="return confirm('정말로 [' + [[${member.memberId}]] + '] 회원을 삭제하시겠습니까?');">

                <input type="hidden" name="_method" value="delete" />
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="btn btn-sm btn-danger">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>