<!-- 관리자가 회원 정보 수정 수정중이라 모두 주석처리 -->



<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>회원 정보 수정 (관리자)</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/memberStyle.css}">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h2>회원 정보 수정 (관리자)</h2>-->

<!--    <div th:if="${errorMessage}" style="color:red; margin-bottom: 15px;">-->
<!--        <p th:text="${errorMessage}"></p>-->
<!--    </div>-->
<!--    <div th:if="${successMessage}" style="color:green; margin-bottom: 15px;">-->
<!--        <p th:text="${successMessage}"></p>-->
<!--    </div>-->

<!--    <form th:action="@{/members/admin/edit/{memberId}(memberId=${member.memberId})}"-->
<!--          th:object="${member}" method="post">-->

<!--        <input type="hidden" name="_method" value="patch" />-->

<!--        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

<!--        <div>-->
<!--            <label for="memberId">회원 ID</label>-->
<!--            <input type="text" id="memberId" th:field="*{memberId}" readonly>-->
<!--        </div>-->

<!--        <div>-->
<!--            <label for="name">이름</label>-->
<!--            <input type="text" id="name" th:field="*{name}" required>-->
<!--        </div>-->

<!--        <div>-->
<!--            <label for="role">역할(Role)</label>-->
<!--            <select id="role" th:field="*{role}">-->
<!--                <option th:each="role : ${T(com.example.KHTeam3DCIM.domain.Role).values()}"-->
<!--                        th:value="${role}" th:text="${role.name()}"></option>-->
<!--            </select>-->
<!--        </div>-->

<!--        <div>-->
<!--            <button type="submit">수정 완료</button>-->
<!--            <a th:href="@{/members/admin}" class="btn">목록으로</a>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->