<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 회원 조회</title>
    <link rel="stylesheet" th:href="@{/css/memberStyle.css}">

</head>
<body>
<div class="container">
    <h2>전체 회원 조회</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">담당자 성함</th>
            <th scope="col">기업명</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member, stat : ${members}">
            <td th:text="${stat.count}">1</td>

            <td th:text="${member.name}">홍**</td>

            <td th:text="${member.companyName}">삼**</td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
